<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938786366050-gdet7qpt4pr0gpaj2fl419vl0dpn2jv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938786366050-gdet7qpt4pr0gpaj2fl419vl0dpn2jv5</string>
	<key>API_KEY</key>
	<string>AIzaSyBC4M-vZz6qqi5ZdbMylYHn_vT0NafvZGA</string>
	<key>GCM_SENDER_ID</key>
	<string>938786366050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.muscuappwithfire</string>
	<key>PROJECT_ID</key>
	<string>muscu-759fb</string>
	<key>STORAGE_BUCKET</key>
	<string>muscu-759fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938786366050:ios:a657b1585edec55a09e73b</string>
</dict>
</plist>